@{
    ViewData["Title"] = "Home Page";
}

<div class="h-100 w-100">
    <a href="https://wa.me/966567591474" target="_blank">
        <img src="~/images/rd-main-image.jpeg" alt="rd company" class="img-fluid" />
    </a>
</div>